doctype html
html(lang='fr')
	include layout_components/header.jade
	body
		include layout_components/sidebar.jade
		div(class='right-col col-md-10', style={background: '#f7f7f7'})
			.row.tile_count.x_panel
				.animated.flipInY.col-md-2.col-sm-4.col-xs-4.tile_stats_count
					.left
					|                         
					.right
						span.count_top
							i.fa.fa-user
							|  Utilisateurs
						|                             
						.count.tcenter #{totalUsers}
				|                             
				.animated.flipInY.col-md-2.col-sm-4.col-xs-4.tile_stats_count
					.left
					|                         
					.right
						span.count_top
							i.fa.fa-edit
							|  Machines
						.count.tcenter #{totalMachines}
				|                     
				.animated.flipInY.col-md-2.col-sm-4.col-xs-4.tile_stats_count
					.left
					|                         
					.right
						span.count_top
							i.fa.fa-shopping-cart
							|  Contrats
						|                             
						.count.green.tcenter #{totalContracts}
				|      
				.animated.flipInY.col-md-2.col-sm-4.col-xs-4.tile_stats_count
					.left
					.right
						a.btn.btn-primary.col-xs-12(href='/dashboard/contracts/create')
							.fa.fa-plus-circle.mr10
							| Contrat
						a.btn.btn-success.col-xs-12(href='/dashboard/machines/create')
							.fa.fa-plus-circle.mr10
							| Machine
				.row.col-md-12                              
					.col-md-6.col-xs-12
						.x_panel
							.x_title
								h2 Machines 
								|                                     
								ul.nav.navbar-right.panel_toolbox
									li
										a.collapse-link
											i.fa.fa-chevron-up
									|                                                                               
									li
										a.close-link
											i.fa.fa-close
								|                                     
								.clearfix
							|                                 
							.x_content
								table(style='width:100%')
									thead
										tr.headings
											th.column-title.col-xs-2.ph0 Id 
											th.column-title.col-xs-4.ph0 Nom
											th.column-title.col-xs-3.ph0 Actions 
											th.column-title.col-xs-3.ph0 
										tr.even(style='height: 10px;')
									tbody
										each machine in listMachines
											tr.even.pointer
												td. 
													#{machine.name}
												td. 
													#{machine.dns}
												td.
													<a href="/dashboard/machines/view?id=#{machine.id}">Voir</a>
												td. 
													<a href="/dashboard/machines/edit?id=#{machine.id}">Editer</a>
										|      
					.col-md-6.col-xs-12
						.x_panel.tile
							.x_title
								h2 Contrats expirants
								|                                 
								ul.nav.navbar-right.panel_toolbox
									li
										a.collapse-link
											i.fa.fa-chevron-up
									|                                     
									li
										a.close-link
											i.fa.fa-close
								|                                 
								.clearfix
							|                             
							.x_content
								table(style='width:100%')
									thead
										tr.headings
											th.column-title.col-xs-2.ph0 Nom 
											th.column-title.col-xs-4.ph0 Prix mensuel
											th.column-title.col-xs-3.ph0 Fin
											th.column-title.col-xs-3.ph0 Action
										tr.even(style='height: 10px;')
									tbody
										each contract in listContracts
											tr.even.pointer
												td. 
													#{contract.name}
												td. 
													#{contract.monthlyPrice} €
												td
													<p class="label label-danger" style="font-size:100%;">#{moment(contract.dateEnd).format("DD-MM-YYYY")}</p>
												td. 
													<a href="/dashboard/contracts/view?id=#{contract.id}">Voir</a>
									|      

					//- script.
					//- 	var barChartData = {
					//- 		labels: #{stockData[label]},
					//- 		datasets: [
					//- 		{
					//- 			fillColor: "#26B99A", //rgba(220,220,220,0.5)
					//- 			strokeColor: "#26B99A", //rgba(220,220,220,0.8)
					//- 			highlightFill: "#36CAAB", //rgba(220,220,220,0.75)
					//- 			highlightStroke: "#36CAAB", //rgba(220,220,220,1)
					//- 			data: #{stockData[values]},
					//- 		}
					//- 		],
					//- 	},
					//- 	$(document).ready(function()
					//- 	{
					//- 		new Chart($("#canvas_bar").get(0).getContext("2d")).Bar(barChartData,
					//- 		{
					//- 			tooltipFillColor: "rgba(51, 51, 51, 0.55)",
					//- 			responsive: true,
					//- 			barDatasetSpacing: 6,
					//- 			barValueSpacing: 5
					//- 		});
					//- 	});                 

		include layout_components/footer.jade
