doctype html
html(lang='fr')
	include layout_components/header.jade
	body
		include layout_components/sidebar.jade
		div(class='right-col col-md-10', style={background: '#f7f7f7'})
			.row.tile_count.x_panel
				.animated.flipInY.col-md-2.col-sm-4.col-xs-4.tile_stats_count
					.left
					|                         
					.right
						span.count_top
							i.fa.fa-user
							|  Utilisateurs
						|                             
						.count #{totalUsers}
				|                     
				|                             
				.animated.flipInY.col-xs-3.tile_stats_count
					.left
					|                         
					.right
						span.count_top
							i.fa.fa-edit
							|  Machines
						.count #{totalMachines}
				|                     
				.animated.flipInY.col-xs-3.tile_stats_count
					.left
					|                         
					.right
						span.count_top
							i.fa.fa-shopping-cart
							|  Contrats
						|                             
						.count.green #{totalContracts}
				|                     
				//- .animated.flipInY.col-xs-3.tile_stats_count
				//- 	.left
				//- 	|                         
				//- 	.right
				//- 		span.count_top
				//- 			i.fa.fa-tag
				//- 			|  Produits
				//- 		|                             
				//- 		.count #{totalProducts}
				//- |                     
				// /top tiles                 
				.row               
					.col-md-6.col-xs-12
						.x_panel.tile
							.x_title
								h2 Contrats expirants
								|                                 
								ul.nav.navbar-right.panel_toolbox
									li
										a.collapse-link
											i.fa.fa-chevron-up
									|                                     
									li
										a.close-link
											i.fa.fa-close
								|                                 
								.clearfix
							|                             
							.x_content
								table(style='width:100%')
									thead
										tr.headings
											th.column-title.col-xs-2.ph0 Id 
											th.column-title.col-xs-4.ph0 Nom
											th.column-title.col-xs-3.ph0 Début 
											th.column-title.col-xs-3.ph0 Fin
										tr.even(style='height: 10px;')
									tbody
										each contract in listContracts
											tr.even.pointer
												td. 
													#{contract.id}
												td. 
													#{contract.name}
												td.
													#{contract.formatedDateStart}
												td. 
													#{contract.formatedDateEnd}
					|                     
					.col-md-6.col-xs-12
						.x_panel
							.x_title
								h2
									| Bar graph 
									small Sessions
								|                                     
								ul.nav.navbar-right.panel_toolbox
									li
										a.collapse-link
											i.fa.fa-chevron-up
									|                                         
									li.dropdown
										a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
											i.fa.fa-wrench
										|                                             
										ul.dropdown-menu(role='menu')
											li
												a(href='#') Settings 1
											|                                                 
											li
												a(href='#') Settings 2
									|                                         
									li
										a.close-link
											i.fa.fa-close
								|                                     
								.clearfix
								|                                 
								.x_content
									canvas#canvas_bar

					//- script.
					//- 	var barChartData = {
					//- 		labels: #{stockData[label]},
					//- 		datasets: [
					//- 		{
					//- 			fillColor: "#26B99A", //rgba(220,220,220,0.5)
					//- 			strokeColor: "#26B99A", //rgba(220,220,220,0.8)
					//- 			highlightFill: "#36CAAB", //rgba(220,220,220,0.75)
					//- 			highlightStroke: "#36CAAB", //rgba(220,220,220,1)
					//- 			data: #{stockData[values]},
					//- 		}
					//- 		],
					//- 	},
					//- 	$(document).ready(function()
					//- 	{
					//- 		new Chart($("#canvas_bar").get(0).getContext("2d")).Bar(barChartData,
					//- 		{
					//- 			tooltipFillColor: "rgba(51, 51, 51, 0.55)",
					//- 			responsive: true,
					//- 			barDatasetSpacing: 6,
					//- 			barValueSpacing: 5
					//- 		});
					//- 	});                 

		include layout_components/footer.jade
